/* Nav bar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styles to the header and navigation */
header {

    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Style the logo */
.logo a {
    text-decoration: none;
    color: #bb732b;
    font-size: 24px;
    font-weight: bold;
}

/* Style the search bar */
.search-bar {
    flex-grow: 1;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

/* Style the menu items */
.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    color: black;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        justify-content: flex-end;
    }

    .menu ul {
        margin-top: 10px;
    }

    .search-bar {
        margin-top: 10px;
    }
}


body {
    background-color: #243447; /* Black background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
/* Styling for the card container */
.card {
    background-color: #1db345; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  /* Styling for the "Book" button */
  #button_colour {
    background-color: rgb(218, 92, 61); /* Orange button color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Styling for the restaurant name */
  .product_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Styling for the image */
  .image img {
    max-width: 100%;
  }