body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.containerz {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.account-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.booking-history,
.orders-history {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}



.order-details {
    margin-top: 10px;
}

/* Clear float to avoid overlapping columns */
.clear {
    clear: both;
}

form .logout {
    background-color: #bb732b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-right: 10px;
}

